div {
  /*자식 요소 가운데 */
  display: flex;
  /*view-height */
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mini {
  color: skyblue;
  text-align: center;
  gap: 10px;
}
.large {
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}

.medium {
  color: rgba(0, 0, 0, 0.616);
  text-align: center;
  gap: 40px;
}

.apple {
  color: white;
  background-color: black;
}

.icon {
  /* 자식의 배치도*/
  display: flex;
  /* 가운데로 맞춰줘*/
  align-items: center;
  font-size: 30px;
}

.google {
  color: white;
  background-color: black;
}

.download {
  display: felx;
  gap: 10px;
}
